<div class="modal-header catalog-export-import">
    <h3 class="modal-title">{{ 'catalogExportImport.dialogs.limits-warning.title' | translate }}</h3>
</div>
<div class="modal-body">
    <div>
        <b ng-if="exportAll">{{ 'catalogExportImport.dialogs.descriptions-export.subtitle-all' | translate: {count: itemsQty} }}</b>
        <b ng-if="!exportAll">{{ 'catalogExportImport.dialogs.descriptions-export.subtitle-not-all' | translate: {count: itemsQty} }}</b>
        {{ 'catalogExportImport.dialogs.descriptions-export.subtitle-end' | translate }}
    </div>
</div>

<div class="modal-footer">
    <button class="btn cancel-btn" ng-click="no()">{{ 'platform.commands.cancel' | translate }}</button>
    <button class="btn" ng-click="yes()">{{ 'catalogExportImport.dialogs.descriptions-export.export' | translate }}</button>
</div>
