.description-export-import.modal-warning {
    background: #fcb040 !important;
    color: #fff !important;
}

.description-export-import .d-flex, .description-export-import.d-flex  {
    display: flex;
}

.description-export-import .flex-column {
    flex-direction: column;
}

.description-export-import .justify-content-end {
    justify-content: flex-end;
}

.description-export-import .align-items-center {
    align-items: center;
}

.description-export-import .word-break-all {
    word-break: break-all;
}

.description-export-import .mr-10 {
    margin-right: 10px;
}

.description-export-import .mr-20 {
    margin-right: 20px;
}

.description-export-import .ml-10 {
    margin-left: 10px;
}

.description-export-import .mt-10 {
    margin-top: 10px;
}

.description-export-import .mt-15 {
    margin-top: 15px;
}

.description-export-import .mb-40 {
    margin-bottom: 40px;
}

.description-export-import .p-10 {
    padding: 10px;
}

.description-export-import .pl-7 {
    padding-left: 7px;
}

.description-export-import .font-weight-500, .description-export-import .list-t {
    font-weight: 500 !important;
}

.description-export-import .upload-result-border {
    border: 1px solid #eaedf3;
}

.description-export-import .upload-result-title {
    color: #6d889b;
}

.description-export-import .upload-result-message {
    color: #999999;
}

.description-export-import .upload-result-validation-errors {
    list-style: inside;
    color: #fcb040;
}

.description-export-import .upload-result-validation-errors::before {
    content: none;
}

.description-export-import .upload-result-validation-errors .upload-result-message {
    position: relative;
    left: -0.5em;
}

.description-export-import .icon-danger {
    color: #f34747;
}

.description-export-import .icon-warning {
    color: #fcb040;
}

.description-export-import .icon-success {
    color: #87b563;
}

.description-export-import .icon-cloud {
    color: #c8dbea;
}

.description-export-import .text-white {
    color: #fff;
}

.description-export-import .drag-area {
    padding: 20px;
    background: #f2f8fd;
    border-color: #c8dbea;
}

.description-export-import .drag-content {
    color: #9db0be;
}

.description-export-import .border-primary {
    border: 1px solid #43b0e6;
}

.description-export-import .btn-danger-outline {
    background: transparent;
    color: #ff4a4a;
    border: 1px solid #ff4a4a;
    text-shadow: none;
}

.description-export-import .btn-small {
    height: 22px;
}

.description-export-import .disabled-cursor {
    cursor: not-allowed !important;
}





